{% extends 'archive/base.html' %}
{% load static %}

{% block title %} 
Thesis Archive System - Compare
{% endblock %} 

{% block content %} 

<form method="POST" action="{% url 'compare' %}">
    {% csrf_token %}
    <div class="row mb-5">
        <button type="submit" class="btn btn-success">Compare Selected</button>
        {% for i in thesis %}
        <div class="col-md-6 col-lg-4">
            <div class="card text-center mb-3">
                <div class="card-body">
                    {% if i.thesis_cover %}
                        <img src="{{ i.thesis_cover.url }}" class="card-img-top" alt="{{ i.title }}" style="margin-bottom: 1rem;">
                    {% endif %}
                    <h5 class="card-title">{{ i.title | title }}</h5>
                    <h6 class="card-title">Published on {{ i.date_pretty }}</h6>
                    <h6>Main Contributors</h6>
                    <p class="card-text">{{ i.author | title }}, {{ i.author1 | title }}</p>
                    <h6>Other Contributors</h6>
                    <p class="card-text">{{ i.author2 | title }}, {{ i.author3 | title }}, {{ i.author4 | title }}</p>
                    <p class="card-text">{{ i.abstract | capfirst | truncatewords:15 | slice:"-4" }}...</p>
                    
                    <input type="checkbox" name="thesis_ids" value="{{ i.id }}" class="thesis-checkbox">
                    <label>Select for Comparison</label>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let checkboxes = document.querySelectorAll(".thesis-checkbox");
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function() {
                let checked = document.querySelectorAll(".thesis-checkbox:checked");
                if (checked.length > 2) {
                    this.checked = false;
                    alert("You can only select 2 thesis documents for comparison.");
                }
            });
        });
    });
</script>

{% endblock %}
